body{
background-color: darkgray;
}
.header{
    background-image: url(../img/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.navbar-nav {
    font-size: 20px;
}
.contact{

 background-image: url(img/overlay-bg.jpg);
  background-size: cover;
}
.layer
{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
}
.get{
    margin-bottom: 2px;
}
.item
{

    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;


}




.item-layer{
position: absolute;
top: 0;
left: 0;
transform: translateY();
transition: transfrom 1s;
background-color: rgba(red, green, blue, alpha);
opacity: 0;
}
.item-layer :hover .item
{

}

 /* // Style Section 4 */
.section4 {
    width: 95%;
    text-align: center;
    margin: 50px auto;
}
.section4 p{
    padding-bottom: 30px;
}
h1{
    padding-top: 30px;
    font-family: "Alegreya";
}
.food{   
    width:33.33%;
    float: left;
    font-size: 17px;
}
.food img{
    width:90%;
}
.food p, h3{
    padding-top: 10px;
    line-height: 30px;
    margin: 10px;
}
@media screen and (min-width:992px) and (max-width:1200px){
    .food{
        width:33.33%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .food{
        width:50%;
    }
}
@media screen and (min-width:300px) and (max-width:767px){
    .food{
        width:100%;
    }
    .food p{
        width: 100%;
    }
    .section4 p , h1 {
        width: 100%;
    }
}
